# Limpando os dados de um semestre
## Objetivo
Esse notebook tem como objetivo realizar a limpeza de um semestre específico, para assim criar uma função
que possa ser utilizada para outros semestres.

In [2]:
import pandas as pd
import numpy as np

In [27]:
matr = pd.read_csv("data/matricula-de-20162.csv", sep=";")

In [28]:
matr.head()

,id_turma,discente,id_curso,unidade,nota,reposicao,faltas_unidade,media_final,numero_total_faltas,descricao,Unnamed: 10
0,57589116,6b4eda42257e30ec67df99edf0a41fb2,2000005.0,NaN,NaN,NaN,NaN,NaN,NaN,INDEFERIDO,NaN
1,57589116,76c635776b66453ac67a3971b5590419,2000005.0,1.0,8.0,f,0.0,8.3,0.0,APROVADO,NaN
2,57589116,76c635776b66453ac67a3971b5590419,2000005.0,2.0,8.0,f,0.0,8.3,0.0,APROVADO,NaN
3,57589116,76c635776b66453ac67a3971b5590419,2000005.0,3.0,9.0,f,0.0,8.3,0.0,APROVADO,NaN
4,57589116,41d5f6efbc0e12d9fbd0dc6240a16476,2000005.0,1.0,8.0,f,0.0,8.3,0.0,APROVADO,NaN

In [29]:
matr.shape

(614895, 11)

## Pegando os dados das turmas de C&T
Id do curso do Ciências e Tecnologia = 10320810

In [30]:
id_cet = 10320810
matr_cet = matr[matr.id_curso == id_cet]
matr_cet.shape

(69237, 11)

## Pegando apenas as matriculas realizadas

In [31]:
matr_cet.descricao.unique()

array(['APROVADO', 'APROVADO POR NOTA', 'INDEFERIDO', 'DESISTENCIA',
       'TRANCADO', 'REPROVADO POR MÉDIA E POR FALTAS', 'REPROVADO',
       'CANCELADO', 'REPROVADO POR NOTA', 'EXCLUIDA',
       'REPROVADO POR FALTAS', 'REPROVADO POR NOTA E FALTA'], dtype=object)

In [32]:
indesejada = ['DESISTENCIA', 'INDEFERIDO', 'EXCLUIDA', 'CANCELADO']

matriculas_cet = matr_cet[~matr_cet.descricao.isin(indesejada)]

In [33]:
matriculas_cet.shape

(57715, 11)

# Selecionando colunas desejadas

In [34]:
matriculas_cet.columns

Index(['id_turma', 'discente', 'id_curso', 'unidade', 'nota', 'reposicao',
       'faltas_unidade', 'media_final', 'numero_total_faltas', 'descricao',
       'Unnamed: 10'],
      dtype='object')

In [35]:
cols = ['id_turma', 'discente', 'id_curso', 'media_final', 'numero_total_faltas', 'descricao']
matriculas_cet = matriculas_cet[cols]

## Removendo dados duplicados e vazios

In [36]:
matriculas_cet = matriculas_cet.drop_duplicates()
matriculas_cet.shape

(16728, 6)

In [37]:
matriculas_cet = matriculas_cet.dropna(subset=['id_turma', 'discente', 'descricao'])
matriculas_cet.shape

(16728, 6)

## Exportando os dados

In [38]:
matriculas_cet.to_csv("data/outputs/matriculas_cet_20162.csv", sep=";", index=False)