# Mesclando os dados de Matrículas, Turmas e Disciplinas
## Objetivo
Esse notebook visa pegar informações que relacionam turmas, matrículas e disciplinas para facilitar 
a visualização dos dados.

In [16]:
import pandas as pd

In [73]:
matr = pd.read_csv("data/outputs/matriculas_cet_20162.csv", sep=';')
#disciplinas = pd.read_csv("data/componentes-curriculares-presenciais-ok.csv", index_col=0)
turmas = pd.read_csv("data/turmas-20162.csv", sep=";")

In [74]:
matr.head()

,id_turma,discente,id_curso,media_final,numero_total_faltas,descricao
0,57585877,3fd7f51046586f1778fbae1d167e93a2,10320810.0,9.6,6.0,APROVADO
1,57583833,972c641f5303e93483e5c318ef19e0cd,10320810.0,7.0,0.0,APROVADO
2,57583833,0d46d99c4063dc62d9a72f453cbd2cb2,10320810.0,6.0,0.0,APROVADO POR NOTA
3,57583833,ffadeab3ebcf703be543cb7ce2037fde,10320810.0,10.0,0.0,APROVADO
4,57583777,2f7d4f0d6372609a0859d6dfd9b78770,10320810.0,8.8,0.0,APROVADO

In [75]:
turmas.head(2)

,id_turma,codigo,nome_ascii,docente_interno,docente_externo,nivel_ensino,ano,periodo,capacidade_aluno,local,...,distancia,tipo,data_consolidacao,agrupadora,qtd_aulas_lancadas,situacao_turma,convenio,modalidade_participantes,campus_turma,Unnamed: 24
0,57581492,GPU0009,INOVACAO NA GESTAO DE POLITICAS PUBLICAS,29060d5df3696c9b7f975a9cd50c836a,NaN,LATO SENSU,2016,2,50.0,Escola de Governo do Estado do Rio Grande do N...,...,f,1,2016-10-05 08:43:06.182,f,30.0,CONSOLIDADA,NaN,Presencial,NaN,NaN
1,57583343,MUT311,APRECIACAO MUSICAL II,40831b01609dda6af0b3083ec69fefcd,NaN,TÉCNICO,2016,2,30.0,Sala 25,...,f,1,2016-12-15 23:53:48.42,f,72.0,CONSOLIDADA,NaN,Presencial,NaN,NaN

## Pegando só as colunas desejadas

In [76]:
turmas.columns

Index(['id_turma', 'codigo', 'nome_ascii', 'docente_interno',
       'docente_externo', 'nivel_ensino', 'ano', 'periodo', 'capacidade_aluno',
       'local', 'data_inicio', 'data_fim', 'codigo_turma', 'descricao_horario',
       'observacao', 'distancia', 'tipo', 'data_consolidacao', 'agrupadora',
       'qtd_aulas_lancadas', 'situacao_turma', 'convenio',
       'modalidade_participantes', 'campus_turma', 'Unnamed: 24'],
      dtype='object')

In [77]:
cols = ['id_turma', 'codigo', 'ano', 'periodo']
turmas = turmas[cols]

## Realizando merge de Matriculas e Turmas

In [78]:
matr.shape

(16728, 6)

In [79]:
matriculas = matr.merge(turmas, how='left', left_on='id_turma', right_on='id_turma')
matriculas.shape

(20266, 9)

In [80]:
matriculas = matriculas.drop_duplicates()
matriculas.shape

(16728, 9)

In [82]:
# matr_ect.groupby('nome')['nome'].count().sort_values(ascending=False)

## Exportando os dados

In [83]:
matriculas.to_csv("data/outputs/matr_final_20162.csv", sep=";", index=False)